@inherits LayoutComponentBase


<!-- <div class="sidebar">
    <NavMenu />
</div> -->
<div style="background: ##282c34; height:100%">
    <div class="main">
        <div style="width: 100%; margin: 0px;">
            <NavBar/>
        </div>

        <div class="content px-4" style="height:100%; margin: 0px; ">
            @Body
        </div>
    </div>
</div>
